/*navBar layouts*/
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 16px 24px;
    border-radius: 8px;
    background: #3e1f78;
    color: white;
}
.navBar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}
nav a.active {
    color: #fff;
    margin: 0 15px;
    font-size: 18px;
    border-bottom: 2px solid #fff;
}
nav a,
nav a:visited,
nav a:link,
nav a:hover,
nav a:focus {
    color: #ddd;
    text-decoration: none;
}

.container { /*main layout*/
    max-width: 1200px;
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', sans-serif;
    background: #b8bec9;
    color: #333;
    line-height: 1.6;
}
header {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #5a5466;
    color: white;
}


/*cards and buttons*/
.card, .alert-card, .quick-actions, .history-card, .action-card, .chart-section {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.alert-card {
    flex: 1 1 300px;
    max-width: 400px;
}
.quick-actions {
    flex: 2 1 500px;
}

.buttons, .input-group{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
button, .backBtn {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5a5466;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
button.btn-caution { /* For delete or critical actions */
    background-color: #e74c3c;
} 

/*forms & tables*/
input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #3e1f78;
    color: white;
}
.table-container, .active-inventory {
    overflow-x: auto;
}

/* media queries for responsive design */
/* desktop layout */
@media (min-width: 768px) {
    .dashboardGrid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "alerts actions"
        "chart chart";
        gap: 20px;
    }
    .actions-grid {
        display: grid;
        grid-template-columns: repreat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    #alerts {
        grid-area: alerts;
        margin-bottom: 0;
    }
    #quickActions {
        grid-area: actions;
        margin-bottom: 0;
    }
    .chart-section {
        grid-area: chart;
    }
}
/* mobile layout */
@media (max-width: 767px) {
    .navBar {
        flex-direction: column;
        gap: 10px;
    }
    .buttons, .input-group {
        flex-direction: column; /* stack buttons vertically*/
    }
}